<p id="notice"><%= notice %></p>

<h1>Kangoo - relevés carburants</h1>
<p>
  Ci-dessous nos relevés de carburant depuis que le Kangoo est avec nous,
  pour nous permettre de suivre la consommation.
</p>

<div>
  <%= link_to 'Nouveau relevé', new_tank_path, class: "btn btn-primary" %>
  <%= link_to 'Voir détails consommation', tanks_details_path, class: "btn btn-secondary" %>
</div>

<br>
<br>


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Kilométrage</th>
      <th>Volume (L)</th>
      <th>Montant (€)</th>
      <th>Prix (€/L)</th>
      <th>Plein complet ?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tanks.each do |tank| %>
      <tr>
        <td><%= tank.date.strftime("%d/%m/%Y") %></td>
        <td><%= tank.distance %></td>
        <td><%= tank.volume %></td>
        <td><%= tank.price %></td>
        <td><%= tank.price_per_liter %></td>
        <td><%= tank.full ? "oui" : "non" %></td>
        <td>
          <%= link_to "🔧", edit_tank_path(tank) %>
          -
          <%= link_to "❌", tank, method: :delete, data: { confirm: 'sûr ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to 'Nouveau relevé', new_tank_path, class: "btn btn-primary" %>
  <%= link_to 'Voir détails consommation', tanks_details_path, class: "btn btn-secondary" %>
</div>
